{% extends 'main.html' %}
{% load static %}
{% block First_Container %}
<div class="container-fluid bg-1 text-center">
    <h1 class="entry-title main_title">Allgemeine Gesch&auml;ftsbedingungen (AGB)</h1>
    <p>Seminare<br>Geltungsbereich:<br>Die Beratung Tim Bretschneider,
    Inh. Tim Bretschneider f&uuml;hrt Veranstaltungen im Bereich der privaten Weiterbildung
    sowie beruflichen Aus- und Fortbildung aus. Die hier vorliegenden AGBs sind Bestandteil
    aller Vertr&auml;ge zwischen den Veranstaltungsteilnehmern (&ldquo;Teilnehmer&rdquo;) und
    Tim Bretschneider, Neckarpromenade 25, 68167 Mannheim (&ldquo;Veranstalter&rdquo;).<br>Anmeldungen:<br>Der
    Vertrag zur Teilnahme an einer Veranstaltung oder sonstigen Dienstleistung erfolgt durch telefonische oder schriftliche
    Anmeldungen, oder &uuml;ber das Ausf&uuml;llen und Absenden des entsprechenden Anmeldeformulars im Internet auf den Webseiten
    des Veranstalters Tim Bretschneider. Der Veranstalter beh&auml;lt sich das Recht vor, Anmeldungen ohne Angabe von Gr&uuml;nden
    abzulehnen. Wenn nicht anders vereinbart, sind Rechnungen per Bank&uuml;berweisung oder &uuml;ber PayPal zu bezahlen.<br>Teilnahme:<br>Eine
    Teilnahme ohne vorherige Bezahlung ist möglich. Die Teilnahmegebühr muss kann auch im Laufe der Beratungsperiode erfolgen. Geht das Geld
    zwar noch vor der gebuchten Veranstaltung, jedoch nicht fristgerecht ein, kann die Teilnahme vom Veranstalter auf den nächsten Termin im
    Ortsbereich des vom Teilnehmer gewählten Seminarorts verschoben werden. Die in der Rechnung genannte Zahlungsfrist der Teilnahmegebühr
    bleibt in jedem Falle bestehen, auch wenn die Teilnahme auf einen späteren Termin verschoben wird. Zur finanziellen Absicherung im Falle
    einer Krankheit bietet sich eine Seminarrücktrittsversicherung bei einer Versicherung Ihrer Wahl an. Das Nichterscheinen eines Teilnehmers
    zu einer angemeldeten Veranstaltung entbindet den Teilnehmer nicht von seiner Pflicht, als Vertragspartner die volle Teilnahmegebühr zu
    bezahlen.<br>Die geplanten Uhrzeiten sowie Dauer/Umfang der Veranstaltung k&ouml;nnen vom Veranstalter nach eigenem Ermessen, soweit es
    die Zielerf&uuml;llung der vereinbarten Veranstaltung nicht beeintr&auml;chtigt, jederzeit in geringem Umfang ge&auml;ndert werden. Bei
    Ausfall des Dozenten/Veranstaltungsleiters (z.B. Krankheit) kann entweder die geplante Veranstaltung gegen R&uuml;ckerstattung der
    Teilnahmegeb&uuml;hr vom Veranstalter abgesagt oder vom Veranstalter ein anderer als der urspr&uuml;nglich geplante Dozent/Veranstaltungsleiter
    eingesetzt werden. Falls die Mindestteilnehmerzahl von drei Personen nicht erreicht wird oder aufgrund h&ouml;herer Gewalt
    (z.B. Corona-Pandemie bzw. beh&ouml;rdlicher Auflagen) kann die geplante Veranstaltung gegen R&uuml;ckerstattung der Teilnahmegeb&uuml;hr
    vom Veranstalter abgesagt werden. Ein Anspruch auf Schadensersatz entsteht durch &Auml;nderungen dieser Art generell nicht. Der Teilnehmer
    erkl&auml;rt, den Veranstalter schadlos von allen Formen von Verlusten, Forderungen, Klagen oder Sch&auml;den zu halten, die in Verbindung
    mit der Teilnahme an Veranstaltungen entstehen k&ouml;nnen. Die Haftung f&uuml;r leichte Fahrl&auml;ssigkeit ist ausgeschlossen. In allen
    anderen F&auml;llen haftet der Veranstalter, sofern zul&auml;ssig, h&ouml;chstens in der H&ouml;he der Veranstaltungsgeb&uuml;hr.
    <br>Veranstaltungen zur MPU-Vorbereitung:<br>Der Veranstalter unterst&uuml;tzt den Klienten mit psychologischen Sachverhalten zur
    Medizinisch-Psychologischen Untersuchung (MPU) und gibt keine Rechtsberatung bzw. rechtliche Beratung &uuml;ber Formalit&auml;ten.
    Falls der Klient bez&uuml;glich MPU-Formalit&auml;ten in seinem pers&ouml;nlichen Fall unsicher ist, sollte er sich an die entsprechenden
    Rechts- bzw. Beratungsstellen wenden. Dem Teilnehmer an der Veranstaltung ist bewusst, dass die Beratung von Tim Bretschneider keine
    Begutachtungsstelle f&uuml;r Fahreignung oder verkehrspsychologische Beratung ist, und keine Punkteabbauseminare oder Seminare nach
    &sect;70 FeV angeboten werden.<br>Die MPU-Vorbereitung ist als Hilfe zu Selbsthilfe zu verstehen und es gibt Faktoren, worauf der
    Veranstalter keinen Einfluss hat. Der Veranstalter schlie&szlig;t nicht zuletzt deswegen jegliche Haftung bez&uuml;glich des Ausgangs
    der MPU der Teilnehmer aus. Dem Teilnehmer ist bewusst, dass eine gewinnbringende Zusammenarbeit nur dadurch m&ouml;glich ist, dass er
    engagiert, aktiv und l&ouml;sungsorientiert mitarbeitet und bereit ist, auch nach der Veranstaltung an sich zu arbeiten. Der Erfolg einer
    MPU h&auml;ngt stark ab von den Faktoren Offenheit, Einsicht, Ver&auml;nderungsmotivation, Willen und Engagement zur Aufarbeitung der
    pers&ouml;nlichen Hintergr&uuml;nde sowie dem Erproben geeigneter Bew&auml;ltigungsstrategien zur Vermeidung zuk&uuml;nftiger
    Auff&auml;lligkeiten. Auch sind in bestimmten F&auml;llen f&uuml;r die MPU Nachweise (z.B. Abstinenzbelege) zu erbringen, die von
    der Veranstaltung unabh&auml;ngig sind. Die Beurteilung in der MPU und das daraus resultierende Ergebnis liegt alleinig im Ermessen
    der Gutachter der MPU-Begutachtungsstellen.<br>Pflichten des Veranstaltungsteilnehmers:<br>Die w&auml;hrend der Veranstaltung ausgeteilten
    Unterlagen sind ausschlie&szlig;lich f&uuml;r die Teilnehmer der MPU-Vorbereitung bestimmt und k&ouml;nnen zur pers&ouml;nlichen
    MPU-Vorbereitung auch nach der Veranstaltung genutzt werden. Jegliche Vervielf&auml;ltigung, Weitergabe oder Nutzung f&uuml;r kommerzielle
    Zwecke ist aber ausdr&uuml;cklich untersagt und strafbar. Das gilt auch f&uuml;r Ausz&uuml;ge. Eine missbr&auml;uchliche Nutzung der
    Veranstaltung durch den Kunden z.B. zur Gesch&auml;ftsanbahnung, f&uuml;hrt zum sofortigen Ausschluss von der Veranstaltung und zieht
    eine Schadensersatzforderung nach sich. Der Teilnehmer versichert, wahrheitsgem&auml;&szlig;e Angaben zu &uuml;bermitteln und ist somit
    f&uuml;r die Richtigkeit seiner Daten verantwortlich. Der Teilnehmer erkl&auml;rt sich damit einverstanden, mit dem Veranstalter &uuml;ber
    E-Mail zu kommunizieren. Mit der Anmeldung versichert der Teilnehmer, dass er vollj&auml;hrig ist und gegen seine Teilnahme keine
    gesundheitlichen Bedenken bestehen.<br>Sonstiges:<br>Sollten einzelne Bestimmungen dieser allgemeinen Gesch&auml;ftsbedingungen ganz oder
    teilweise nicht rechtswirksam sein oder ihre Rechtswirksamkeit sp&auml;ter verlieren, so soll hierdurch die G&uuml;ltigkeit dieser Vereinbarung
    im &Uuml;brigen nicht ber&uuml;hrt werden.<br><br><br></p>
</div>
{% endblock First_Container %}

