<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Online MPU-Beratung</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="MPU, Beratung, Abstinenz, Garantiert, online" /> <meta name="description" content="MPU-Beratung in der Rhein-Neckar-Region und Online zu günstigen Konditionen"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href='{%  static "css/stil.css" %}'>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Preise">Preise</a></li>
        <li><a href="/Die_Beratung">Die Beratung</a></li>
        <li><a href="/Der_Berater">Der Berater</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><strong>Der Berater</strong></h1>
  <h2 class="margin"><strong>Tim S. Bretschneider (B.A.)</strong></h2>
  <h3 class="margin"><strong>Eine kurz Vorstellung:</strong></h3>
  <h4>Selbst schon durch die MPU Durchgegangen und an eingen Stolpersteinen der Bürokratie gescheiter, habe ich dennoch die MPU ohne Probleme bestanden. Nicht nur bei der MPU selbst auch in die dafür vorzubereiteten Aktionen
  müssen einige triviale Details beachtet werden. Durch einige Praktikas bei einschlägigen MPU-Beratungsunternehmen habe ich
  einige Erfahrungen bei Clienten und Beratern sammeln können und einige Beratungssgespräche geführt. Eines war mir dabei immer zuwider und das war
  der hohe Preis. Deswegen biete ich dir mit 499€ einen unschlagbaren Preis für eine hochqualifizerte und flexible Beratung.
  Diesen Preis kann ich bieten indem ich eine aufwendige Internetpräsents und ein teueres Büro verzichte und die meisten Beratungen Online über Zoom oder Teams durchführe.</h4>
</div>


<!-- Second Container -->
{{ my_dict }}
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">persönlich</h3>
    <h3 class="margin">kompetent</h3>
     <h3 class="margin">günstig</h3>
    <h4 class="margin">Anfrage:</h4>


  <form action="Thank.html" method="get"/> <!--method="post"-->

  <label for="fname">Name:</label>
  <input type="text" id="fname" name="fname" value="Ihr Name"><br>
  <label for="email">E-Mail:</label>
  <input type="text" id="email" name="email" value="Ihr E-Mail"><br><br>
  <input type="submit" value="Anfragen">
  </form>
    <!--
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a> -->
     <h4 class="margin">Oder telefonisch: 015209402673</h4>

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4">
      <li><a href="/Impressum">Impressum</a></li>
    </div>
    <div class="col-sm-4">
      <li><a href="/Datenschutz">Datenschutz</a></li>

    </div>
    <div class="col-sm-4">
      <li><a href="/AGB">AGB</a></li>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Viel Erfolg</p>
</footer>

</body>
</html>



