{% extends 'main.html' %}
{% load static %}
<html lang="en">

{% block First_Container %}
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><strong>Der Berater</strong></h1>
  <h2 class="margin"><strong>Tim S. Bretschneider (B.A.)</strong></h2>
  <h3 class="margin"><strong>Eine kurz Vorstellung:</strong></h3>
  <h4>Selbst schon durch die MPU Durchgegangen und an eingen Stolpersteinen der Bürokratie gescheiter, habe ich dennoch die MPU ohne Probleme bestanden. Nicht nur bei der MPU selbst auch in die dafür vorzubereiteten Aktionen
  müssen einige triviale Details beachtet werden. Durch einige Praktikas bei einschlägigen MPU-Beratungsunternehmen habe ich
  einige Erfahrungen bei Clienten und Beratern sammeln können und einige Beratungssgespräche geführt. Eines war mir dabei immer zuwider und das war
  der hohe Preis. Deswegen biete ich dir mit 499€ einen unschlagbaren Preis für eine hochqualifizerte und flexible Beratung.
  Diesen Preis kann ich bieten indem ich eine aufwendige Internetpräsents und ein teueres Büro verzichte und die meisten Beratungen Online über Zoom oder Teams durchführe.</h4>
</div>
{% endblock First_Container %}





