
{% extends 'main.html' %}
{% load static %}
{% block First_Container %}
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><strong>Die Beratung</strong></h1>
  <h3 class="margin"><strong>Schritte:</strong></h3>
  <ul style="align-content: center">
        <li>Grund der MPU analysieren</li>
        <li>Zeitplan erstellen</li>
        <li>Bürokratische Maßnahmen</li>
        <li>Strategie entickeln</li>
        <li>MPU Simulation</li>
      </ul>
</div>
{% endblock First_Container %}


