<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Online MPU-Beratung</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="MPU, Beratung, Abstinenz, Garantiert, online" /> <meta name="description" content="MPU-Beratung in der Rhein-Neckar-Region und Online zu günstigen Konditionen"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href='{%  static "css/stil.css" %}'>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Preise">Preise</a></li>
        <li><a href="/Die_Beratung">Die Beratung</a></li>
        <li><a href="/Der_Berater">Der Berater</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
{% block First_Container %}
{% endblock First_Container %}

<!-- Second Container -->
{% block Second_Container %}
{% endblock Second_Container %}

<div class="container-fluid bg-2 text-center">
    <h4 class="margin">Anfrage:</h4>
  <form action="Thank.html" method="get"/>
  <label for="fname">Name:</label>
  <input type="text" id="fname" name="fname" value="Ihr Name"><br><!-- der name="fname ist für die übergabe von relevanz-->
  <label for="email">E-Mail:</label>
  <input type="text" id="email" name="email" value="Ihr E-Mail"><br><br>
  <input type="submit" value="Anfragen">
  </form>
  <!--<a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search </a> -->
     <h4 class="margin">Oder telefonisch: 015209402673</h4>
</div>


<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4">
      <li><a href="/Impressum">Impressum</a></li>
    </div>
    <div class="col-sm-4">
      <li><a href="/Datenschutz">Datenschutz</a></li>
    </div>
    <div class="col-sm-4">
      <li><a href="/Widerrufsbelehrung">Widerrufsbelehrung</a></li>
    </div>
    <div class="col-sm-4">
      <li><a href="/AGB">AGB</a></li>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Viel Erfolg</p>
</footer>

</body>
</html>
