{% extends 'main.html' %}
{% load static %}
<!-- First Container -->
{% block First_Container %}
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><strong> Eine komplette Beratung die dich nicht nur erfolgreich durch die MPU bringt,
    sondern die dich auch auf alle Themen die es vor der MPU zu beachten vorbereitet kostet dich bei mir nur <br>
    499€  </strong></h1>
  <h3></h3>
</div>
{% endblock First_Container %}
<!-- Second Container -->
{% block Second_Container %}
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Schon überzeugt? Schicke mir nur deinen Namen und eine E-mail damit ich dich Kontaktieren kann!</h3>
</div>
{% endblock Second_Container %}
<!-- Third Container (Grid) -->
