{% extends 'main.html' %}
{% load static %}

{% block First_Container %}
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><strong>Vielen Dank für deine Anfrage {{ name_des_clienten }}. Wir melden uns in Kürze bei dir.</strong></h1>
  <h3></h3>
</div>
{% endblock First_Container %}
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Falls eine Rückmeldung nicht erfolgt, wende dich bitte mit deinem Telefon an mich. 015209402673</h3>
</div>
